/* Web Font Resources */

@font-face {
    font-family: 'robotolight';
    src: url('./Assets/Fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('./Assets/Fonts/Roboto-Thin-webfont.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('./Assets/Fonts/Roboto-Regular-webfont.woff') format('woff');   
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('./Assets/Fonts/Roboto-Medium-webfont.woff') format('woff');  
    font-weight: normal;
    font-style: normal;

}




/* Attribute Authors Of Free Downloaded Content */
.downloaded{
    display:none;
}




/* Default Page Settings */
body{
    margin: 0;
    padding: 0;
    font-family: roboto, Arial, Helvetica, sans-serif;
}




/* General Header Styles */
.header{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding:2rem 3rem;
}




/* Logo Styles */
.logo{
   flex-grow: 1;
   position: relative;
   width: 10rem;
   height: 3.5rem;
   padding-right: 2vw;  
}
.subLogo{
    width: inherit;
   
}
.logo a img {
    width: 10rem;
    padding-right: 2vw;   
}
.logoHoverImg {
   display: inline-block;
   width: 10rem;
   padding-right: 2vw;
   position:absolute;
   top: 0;
   left: 0;
   z-index: 200;  
   opacity: 0; 
   transition: opacity 0.2s;
  
}
.subLogo:hover .logoHoverImg {
    opacity: 1;
}




/* Menu Styles */
.menu{
   margin-right: 3vw;
   flex-grow: 0.5;
  
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 55rem;
    height: 50px; 
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family:robotolight;
    font-weight: bold; 
    padding: 5px;
    transition: background-color 0.2s;
    border-radius: 5px;
}
.menu ul li a:hover{
    background-color: #ececec;
    border-radius: 5px;
    color: #5f024b;
    box-shadow:0 0 1px 0.5px #ececec;
}




/* Search Box Styles */
.searchbox{  
    border: 1.9px solid #cccccc;
    box-shadow: 0 0 4px 0.4px #cccccc;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    opacity: 0.8;
}
.searchbox form{
    display: flex;
    align-items: center;
   
}
.searchbox form input{
    font-family: robotolight;
    font-size: 1rem;
    width: 10rem;
    height: 1.5rem;
    border-color: transparent;
    padding-right: 0.7rem;
} 
.searchbox form input:focus{
   /* border-right-color: #000000; */
   opacity: 0.7;
   outline: none;
}
.searchbox form button{
    width: 1.5rem;
    height: 2rem;
    text-indent: -1000px;
    overflow: hidden;
    background: no-repeat url("./Assets/Images/search.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 1.3rem;
    cursor: pointer;
    margin-left: 0.5rem;
    border-color: transparent;
    transition: opacity 0.2s;
    /* background-color:pink; */
}
.searchbox form button:hover{
    opacity: 0.5;
   
}




/* Slide Show Styles*/
.slideShow {
    position: relative;
    height:80vh;  
    width: 100vw;      
}
.ssGroupImgs img{
    position: absolute;
    width:100%;
    height:80vh;
    object-fit:cover;
    box-shadow: 0 0 4px 0.4px #a5a5a5;
}




/* Slideshow Arrow Styles */
.aContainer{
    display:flex;
    position:absolute;
    width:4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    transition: background-color 0.2s, opacity 0.2s;    
    cursor: pointer;
}
.aContainer:hover{
    border-radius:50%;
    background:black;
    opacity: 0.5;
}
.lArrowCont{
    top: 35vh;
    left: 1vw;
}
.leftArrow{
    display:inline-block;
    font-size: 2.5rem;
    color:white;
    user-select: none;
}
.rArrowCont{
    top: 35vh;
    right: 1vw;
}
.rightArrow{
    display:inline-block;
    font-size: 2.5rem;
    color:white;
    user-select: none;
}




/* Slideshow Button Styles */
.ssButtons{
    width:245px;
    position:absolute;
    bottom: 4vh;
    left:0;
    right:0;
    margin:0 auto;
}
.ssButtons a{
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    width:0.4rem;
    height:0.4rem;
    margin:1rem;
    background: #ffffff;
    border:1px solid #ffffff;
    border-radius:50%;    
    box-shadow:0 0 1px 0.5px #ffffff;
    transition: background-color 0.2s;
}
.ssButtons a:hover{
    background: #EBB621;
    border:1px solid #EBB621;
    box-shadow:0 0 1px 0.5px #EBB621;
}
a.ssbSelected{
   background: #EBB621;
   border-color:#EBB621;
   box-shadow:0 0 1px 0.5px #EBB621;
}



